@font-face {
    font-family: 'font-1';
    src: url('./fonts/font-1.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font-2';
    src: url('./fonts/font-2.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font-3';
    src: url('./fonts/font-3.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font-4';
    src: 
        url('./fonts/font-4.otf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font-5';
    src: 
        url('./fonts/font-5.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font-6';
    src: 
        url('./fonts/font-6.ttf');
        font-weight: 600;
        font-style: normal;
}
*{
    margin: 2px;
}
.content{
    display: block;
    width: auto;
}
.header{
    display: flex;
    max-width: fit-content;
    margin: auto;
    margin-top: 20px;
}
h1{
    text-shadow: 1px 1px 1px black;
    color: red;
    margin: auto;
    font-family: font-3;
}
.logo{
    background: rgba(0, 0, 0, 0.379);
}
.emoji{
    position: relative;
    animation-name: emoji-item;
    animation-duration: 6s;
}
.emoji-item{
    display: flex;
    justify-content: center;
}
.block{
    width: fit-content;
    margin: auto;
    background-color: rgba(13, 33, 28, 0.42);
}
.status{
    box-shadow: 4px 4px 4px black;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
}
.im{
    text-align: center;
}
.search{
    display: flex;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(24, 235, 235);
}
input{
    display: block;
    width: 250px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
label{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.1rem;
}
button{
    border: none;
    background-color: rgba(228, 41, 41, 0);
}
.weather-data{
    display: grid;
    padding: 10px;
    grid-template-columns: 183px 183px;
    grid-template-rows: 50px 183px 183px;
    gap: 15px;
    color: white;
    font-size: 1rem;
}
.arrea{
    width: 250px;
    text-align: left;
}
.weather-data > div{
    border: 0px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
    display: block;
    padding: 4px;
    border-left: 8px solid darkorange;
    background-color:teal;
}
#region{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-auto-rows:auto;
    height: 30px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}


.weather-data p{
    margin-bottom: 0px;
    margin-top: 10px;
}
#temp{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 12px;
    margin-top: 22px;
    text-shadow: 1px 1px 2px black;
    font-weight: 700;

}
.date, #condition, .hour{
    color: rgb(251, 248, 248);
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px black;

}
.date{
    margin-bottom: 2px;
}

.wind-humidity > div > div{
    text-align: center;
    font-weight: 500;
    text-shadow: 1px 1px 2px black;
}
.wind{
    padding-bottom: 10px;
    font-size: 1.2rem;
}
.humidity{
    font-size: 1.2rem;
}
.uv{
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 700;
    padding: 10px;
    text-shadow: 1px 1px 2px black;
}
footer{
    text-align: center;
    background-color: rgb(202, 198, 198);
    height: 30px;
    padding-top: 5px;
}